.banner {
	margin-top: 80px;
}

.banner-left {
	width: 82.2%;
	padding: 0 190px;
	float: left;
}

.banner-right {
	width: 15.7%;
	float: right;
	margin-right: 35px;
}

.box .ico img:hover {
	opacity: 0.7;
}

.swiper-container {
	width: 100%;
}

.swiper-container .swiper-wrapper {
	width: 100%;
}

.swiper-container .swiper-wrapper img {
	width: 100%;
}

.swiper-slide {
	width: 100%!important;
}

@media only screen and (min-width:1170px) {
	.swiper-wrapper img {}
}


/* .classical{
	width: 80%;
	margin: 0 auto;
}
.classical div{
	border: 1px solid #333333;
	border-radius:20% ;
	width: 30px;
}
 */

.mt20 {
	margin-top: 20px;
}

.zhong-logo {
	text-align: left;
}

.designer-info {
	font-size: 12px;
}

.designer {
	border-top: 1px solid #eee;
	margin-top: 10px;
	padding-top: 10px;
}

.designer .im {
	margin: 10px 0;
}

.famous {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 10px;
}

.love {
	padding: 10px;
}

.love span {
	margin-left: 20px;
}

.love img:hover {
	opacity: .8;
}

.right-bar {
	text-align: left;
}

.classical {
	margin-top: 30px;
}

#cases .col-sm-4 {
	text-align: center;
}

.box {
	border: 1px solid #ddd;
}

.box:hover {
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .175);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .175);
}

a.ico img {
	width: 15%;
}

a.ico img {
	border-radius: 50%;
}

.box .ico img:hover {
	opacity: 0.7;
}

.container {
	margin-top: 30px;
}

.container h5 {
	margin-bottom: 20px;
}

.box img {
	margin-bottom: 10px;
}


/*小菜单*/

.toolbar {
	position: fixed;
	right: 20px;
	bottom: 50px;
	z-index: 99999;
	display: none;
}

.toolbar-item {
	display: block;
	width: 52px;
	height: 52px;
	margin-top: 10px;
	position: relative;
	opacity: .4;
}

.toolbar-layer {
	display: none;
	position: absolute;
	right: 65px;
	top: 0px;
	width: 150px;
	filter: alpha(opacity=0);
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);
	text-align: center;
	font-size: 114%;
}

#triangle-right {
	position: absolute;
	right: -10px;
	top: 21px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 10px solid #fff;
	border-bottom: 10px solid transparent;
}

.toolbar-layer p {
	margin-top: 10px;
}

.toolbar-item-weixin {
	background: url("../images/weixin.png") no-repeat center;
	background-color: #000;
}

.toolbar-item-weixin:hover .toolbar-layer {
	display: block;
}

.toolbar-item-feedback {
	background: url("../images/kefu.png") no-repeat center;
	background-color: #000;
}

.toolbar-item-top {
	background: url("../images/arrow.png") no-repeat center;
	background-color: #000;
}

.toolbar-item:hover {
	background-color: #ff3366;
	opacity: 1;
}

@media screen and (max-width: 1200px) {
	.st-cover-vr .r img {
		width: 42px;
	}
}

@media screen and (max-width: 960px) {
	.st-cover-vr .l {
		display: none
	}
	.st-cover-vr .c {
		width: 68%
	}
	.st-cover-vr .r {
		width: 25%
	}
}

@media screen and (max-width: 768px) {
	.st-col-3>.items>.item {
		width: 80%;
		margin-left: 10%;
		margin-bottom: 20px;
	}
	.st-col-3>.items>.item:first-child {
		margin-left: 10%;
	}
	.st-er-list>.items>.item {
		float: none;
		width: 80%;
		margin: 10px auto;
	}
	.st-er-list>.items>.item:nth-child(2n) {
		margin: 10px auto;
	}
	.st-er-item-scroll .part.a .introduction {
		position: absolute;
		bottom: 0;
		right: 7%;
		color: #fff;
	}
}

@media screen and (max-width: 500px) {
	/*.circle{*/
	/*width: 90vw !important;*/
	/*height: 90vw;*/
	/*}*/
	/*.circle h1{*/
	/*font-size:171% ;*/
	/*}*/
	.st-er-item-scroll .part.a .introduction {
		position: absolute;
		bottom: 0;
		right: 2%;
		color: #fff;
	}
	.st-er-item-scroll .part.a .introduction h2 {
		margin: 2px 0;
		font-size: 171%;
	}
	.st-er-item-scroll .part.a .introduction h4 {
		/*margin: 5px 0;*/
		font-size: 100%;
	}
	.st-er-item-scroll .part.a .introduction p {
		margin: 5px 0;
		font-size: 85%;
	}
}

.box .red1:hover,
.box .red2:hover,
.box .red3:hover,
.box .red4:hover,
.box .red5:hover,
.box .red6:hover {
	color: #ff3366;
	cursor: pointer;
}

.swiper-button-prev:hover {
	background-color: #D9D9D9;
	border-radius: 4px;
}

.swiper-button-next:hover {
	background-color: #D9D9D9;
	border-radius: 4px;
}

.swiper-button-next:hover {
	background-color: #D9D9D9;
}

.st-cover-vr {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f2f2f2;
	z-index: 99;
	margin-top: 72px;
}

.st-cover-vr>.inner {
	height: 100%;
}

.st-cover-vr .l {
	float: left;
	width: 38%;
	height: 100%;
	text-align: center;
	background: url(../images/vrbgleft_01.jpg) no-repeat;
}

.st-cover-vr .l>div {
	margin-top: 45%
}

.st-cover-vr .l>div>span {
	font-size: 114%
}

.st-cover-vr .l>div>p {
	font-size: 171%;
	margin: 20px 0;
	font-weight: bold;
}

.st-cover-vr .c {
	float: left;
	width: 46.5%;
}

.st-cover-vr .c>a {
	position: relative;
	display: block;
}

.st-cover-vr .c>a img {
	height: 33.333vh;
	max-width: 100%;
}

.st-cover-vr .c>a>i {
	width: 100%;
	transition: width .5s linear;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .6);
	height: 100%;
}

.st-cover-vr .c>a:hover>i {
	width: 0
}

.st-cover-vr .c>a>span {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 185%;
	text-align: center;
	z-index: 10;
}

.st-cover-vr .c>a:hover>span {
	display: none
}

.st-cover-vr .r {
	float: right;
	width: 12%;
	text-align: right;
	margin-right: 10px;
	margin-top: 10px
}

.st-cover-vr .r img {
	float: right;
	width: 72px;
	margin-right: 10px;
	margin-top: 10px;
}

.st-cover-vr .r span {
	margin: 0 10px;
}